In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('DA_keys_subset.csv', encoding='latin-1')

In [6]:
data.head()

,Unnamed: 0,File,DistrictAttorney,da_last_name,female,black,county,2003,2004,2005,...,2007-contested,2008-contested,2009-contested,2010-contested,2011-contested,2012-contested,2013-contested,2014-contested,2015-contested,university
0,0,2009_08295.htm.txt,Michael J. Violante,Violante,0.0,0.0,Niagara,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,suffolk
1,1,2009_08296.htm.txt,Scott D. McNamara,McNamara,0.0,0.0,Oneida,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,vermont
2,2,2009_08297.htm.txt,William J. Fitzpatrick,Fitzpatrick,0.0,0.0,Onondaga,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,syracuse
3,3,2009_08298.htm.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2009_08311.htm.txt,William J. Fitzpatrick,Fitzpatrick,0.0,0.0,Onondaga,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,syracuse

In [10]:
len(data.da_last_name.unique())

125

In [11]:
len(data.DistrictAttorney.unique())

236

In [14]:
missing = sum(data.da_last_name.isnull())
total = data.shape[0]

In [15]:
print('Share of missing:', missing/total)

Share of missing: 0.287110070734

In [5]:
#DA rename all columns 
cols = data.columns

In [7]:
new_names = []
for col in cols:
    new_col = 'da_'+col
    new_names.append(new_col)

In [20]:
data.columns = new_names

In [21]:
data.head()

,Unnames,File,DistrictAttorney,da_last_name,da_female,da_black,da_county,da_2003,da_2004,da_2005,...,da_2007-contested,da_2008-contested,da_2009-contested,da_2010-contested,da_2011-contested,da_2012-contested,da_2013-contested,da_2014-contested,da_2015-contested,da_university
0,0,2009_08295.htm.txt,Michael J. Violante,Violante,0.0,0.0,Niagara,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,suffolk
1,1,2009_08296.htm.txt,Scott D. McNamara,McNamara,0.0,0.0,Oneida,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,vermont
2,2,2009_08297.htm.txt,William J. Fitzpatrick,Fitzpatrick,0.0,0.0,Onondaga,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,syracuse
3,3,2009_08298.htm.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2009_08311.htm.txt,William J. Fitzpatrick,Fitzpatrick,0.0,0.0,Onondaga,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,syracuse

In [24]:
data.drop('Unnames', axis=1,inplace=True)

In [25]:
data.head()

,File,DistrictAttorney,da_last_name,da_female,da_black,da_county,da_2003,da_2004,da_2005,da_2006,...,da_2007-contested,da_2008-contested,da_2009-contested,da_2010-contested,da_2011-contested,da_2012-contested,da_2013-contested,da_2014-contested,da_2015-contested,da_university
0,2009_08295.htm.txt,Michael J. Violante,Violante,0.0,0.0,Niagara,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,suffolk
1,2009_08296.htm.txt,Scott D. McNamara,McNamara,0.0,0.0,Oneida,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,vermont
2,2009_08297.htm.txt,William J. Fitzpatrick,Fitzpatrick,0.0,0.0,Onondaga,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,syracuse
3,2009_08298.htm.txt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2009_08311.htm.txt,William J. Fitzpatrick,Fitzpatrick,0.0,0.0,Onondaga,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,syracuse

In [34]:
for i in data.columns:
    missing = sum(data[i].isnull())
    share = missing/data.shape[0]
    print('Missing', i, share)

Missing File 0.0
Missing DistrictAttorney 0.286194086815
Missing da_last_name 0.287110070734
Missing da_female 0.287110070734
Missing da_black 0.287110070734
Missing da_county 0.287110070734
Missing da_2003 0.287110070734
Missing da_2004 0.287110070734
Missing da_2005 0.287110070734
Missing da_2006 0.287110070734
Missing da_2007 0.287110070734
Missing da_2008 0.287110070734
Missing da_2009 0.287110070734
Missing da_2010 0.287110070734
Missing da_2011 0.287110070734
Missing da_2012 0.287110070734
Missing da_2013 0.287110070734
Missing da_2014 0.287110070734
Missing da_2015 0.287110070734
Missing da_2016 0.287110070734
Missing da_2017 0.985013485319
Missing da_2004-contested 0.287110070734
Missing da_2005-contested 0.287110070734
Missing da_2007-contested 0.287110070734
Missing da_2008-contested 0.287110070734
Missing da_2009-contested 0.287110070734
Missing da_2010-contested 0.287110070734
Missing da_2011-contested 0.287110070734
Missing da_2012-contested 0.287110070734
Missing da_2013-contested 0.287110070734
Missing da_2014-contested 0.287110070734
Missing da_2015-contested 0.287110070734
Missing da_university 0.287364510712

In [27]:
data.to_csv('DA_keys_subset.csv')